.create-user-container {
    background-color: #ededed;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.create-user-container h1 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}

.sub-text {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.add-button {
    width: 169px;
    height: 60px;
    background-color: #59B2E8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #3A8FC1;
}

@media (max-width: 480px) {
    .sub-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-button {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}

.table-section {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    min-width: 600px;
    line-height: 36px;
}

.responsive-table th,
.responsive-table td {
    padding: 12px 15px;
    white-space: nowrap;
}

.responsive-table th {
    background-color: #59B2E8;
    font-weight: bold;
}

.responsive-table th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.responsive-table th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.responsive-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.responsive-table tr:nth-child(even) {
    background-color: #ffffff;
}

.responsive-table a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    .table-section {
        overflow-x: scroll;
    }

    .responsive-table {
        min-width: 600px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    color: #2D9FE4;
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button {
    margin-right: 10px;
}

.form-control {
    width: 70%;
    height: 70%;
}
